<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SignAI</title>
    <link rel="stylesheet" href="../static/css/home.css">
    
</head>
<body>
    <div class="header">
        <h2>SignAI</h2>
        <div class="header-icons">
            <span>🏠</span>
            <span>⚙️</span>
            <span>👤</span>
        </div>
    </div>
    <div class="container">
        <h1>Bem Vindo, (User)</h1>
        <div class="welcome-box">
            <span class="close-btn">✖</span>
            <h3>Bem-vindo à SignAI</h3>
            <p>A SignAI foi criada para tornar a comunicação mais acessível e inclusiva. Nossa tecnologia utiliza inteligência artificial para reconhecer sinais de Libras e convertê-los em texto e áudio em tempo real.</p>
            <p>Aqui, você pode explorar todas as funcionalidades e facilitar a comunicação de forma prática e intuitiva:</p>
            <ul>
                <li>Captura de sinais via câmera</li>
                <li>Conversão de sinais para voz</li>
                <li>Interface acessível e intuitiva</li>
            </ul>
            <p>Gostaria de um rápido tutorial para entender como utilizar o site?</p>
            <button>➡</button>
        </div>
    </div>
    <div class="footer">
        <p>SignAI</p>
        <p>© 2025 Todos os direitos reservados</p>
    </div>
</body>
</html>
