<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sign</title>
    <link rel="stylesheet" href="../static/css/login.css">
    
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>SignAI</h1>
            <p>"Communication is not a barrier"</p>
            <h2>Login</h2>
            <p>Não tem uma conta ainda? <a href="cadastro.html">Crie já!</a></p>
            <form>
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Digite seu email" required>
                <br>
                
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Digite sua senha" required>
                <br>

                <a href="recuperar.html">Esqueceu a senha?</a>
                
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="right">
            <img src="placeholder.png" alt="Imagem representativa" width="250px">
        </div>
    </div>
    <div class="footer">
        <p>SignAI</p>
        <p>© 2025 Todos os direitos reservados</p>
    </div>
</body>
</html>
