<!-- Widget do mascote SignAi -->
<div id="mascot-widget">

  <!-- Botão redondo fixo -->
  <button id="open-mascot" class="mascot-btn">
    <img src="/static/images/cara.png" alt="Mascote">
  </button>

  <!-- Camada escura (overlay) -->
  <div id="mascot-overlay" class="mascot-overlay"></div>

  <!-- Pop-up central -->
  <div id="mascot-popup" class="mascot-popup">
    <button id="close-mascot" class="close-btn">&times;</button>

    <div class="mascot-text">
        <h2>Olá, eu sou o Sign!</h2>
        <p>
            <b>Vou explicar um pouco sobre o SignAI:</b>
        </p>
        <small style="display:block; margin-top:1em; color:#226ce7;">
           " SignAI é o resultado da criatividade de um grupo de estudantes apaixonados, que transformou sua vontade de aprender em uma ferramenta inclusiva para levar mais acessibilidade e valor à sociedade."
        </small>

            <p style="margin-top:1em;">
             <b> Mas oque ele oferece?</b>
          </p>

          <ul style="margin-top:1em; color:#444444; font-size:0.98em;">
            <li>Visão computacional para reconhecimento de sinais;</li>
            <li>Inteligência artificial para interpretação;</li>
            <li>Interface acessível e amigável;</li>
            <li>Recursos de tradução em tempo real.</li>
          </ul>
        </div>

    <div class="mascot-image">
      <img src="/static/images/mascot.png" alt="Mascote SignAI">
    </div>
  </div>
</div>
