<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SignAI</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <div id="header"></div>

    
</head>
<body>
    
    <div class="container">
        <h1>Bem Vindo, (User)</h1>
        <div class="welcome-box">
            <span class="close-btn" onclick="this.parentElement.style.display='none'">✖</span>
            <h3>Bem-vindo à SignAI</h3>
            <p>A SignAI foi criada para tornar a comunicação mais acessível e inclusiva. Nossa tecnologia utiliza inteligência artificial para reconhecer sinais de Libras e convertê-los em texto e áudio em tempo real.</p>
            <p>Aqui, você pode explorar todas as funcionalidades e facilitar a comunicação de forma prática e intuitiva:</p>
            <ul>
                <li>Captura de sinais via câmera</li>
                <li>Conversão de sinais para voz</li>
                <li>Interface acessível e intuitiva</li>
            </ul>
            <p>Gostaria de um rápido tutorial para entender como utilizar o site?</p>
            <button>➡</button>
        </div>
        <div class="box">
            <span class="button">Capatar Sinais</span>
            <span class="button">Converter Voz</span>
            <span class="button">Historico</span>
        </div>
    </div>


    
</body>
<footer>
    <div id="footer"></div>
</footer>
</html>
<script>
    fetch('../static/components/header.html')
        .then(response => response.text())
        .then(data => document.getElementById('header').innerHTML = data)
        .catch(error => console.error('Erro ao carregar o header:', error));


        fetch('../static/components/footer.html')
            .then(response => response.text())
            .then(data => document.getElementById('footer').innerHTML = data)
            .catch(error => console.error('Erro ao carregar o footer:', error));
</script>