<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha - Sign</title>
    <link rel="stylesheet" href="/static/css/recuperarSenha.css">
</head>
<body>
    <div class="container">
        <div class="recuperar-box">
            <h1>Sign</h1>
            <h2>Recuperar Senha</h2>
            <p>Digite seu email para receber um código de recuperação.</p>
            <form>
                <container class="email-container">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Digite seu email" required>
                <button id="email" type="submit">Enviar</button>
                </container>

                <label for="codigo">Código de Recuperação</label>
                <input type="text" id="codigo" placeholder="Digite o código de recuperação" required>
                <button type="submit">Verificar Código</button>

            </form>
            <p><a href="login.html">Voltar ao Login</a></p>
        </div>
    </div>
</body>
</html>

